<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<style>
    .navbar{
        position: relative;
    }
    </style>
    <div class="topHeading">
        <h1 class="topHeadText">Contact Us</h1>
    </div>

    <div class="secondDiv">
        <h2 class="secondHeading">Get in touch with Us</h2>
        <p class="secondHeadingText">Get in touch with us, so we can help you more quickly</p>
    </div>

    <div class="infoContainer">
        <div class="heythere">
            <div class="infoItem">
                <img src="/images/location.svg" alt="">
                  <div class="infoItemText">
                    <h2 class="itemHeading">Our location</h2>
                    <p class="itemText">Beauty Experts (Pvt) Ltd. 11-km Bosan Road, Multan, Pakistan.</p>
                  </div>
            </div>
            <div class="infoItem">
                <img src="/images/Call.svg" alt="">
                  <div class="infoItemText">
                    <h2 class="itemHeading">Our Contact</h2>
                    <p class="itemText">+92 343 2889985</p>
                  </div>
            </div>
            <div class="infoItem">
                <img src="/images/mail.svg" alt="">
                  <div  class="infoItemText">
                    <h2 class="itemHeading">Our Mail box</h2>
                    <p class="itemText">Mail@gmail.com</p>
                  </div>
            </div>
        </div>
       <div class="mapDiv"><iframe class="map" src="https://maps.google.com/maps?q=Care%20Cosmetics&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no">
    </iframe>
    </div>
      
    </div>
    <div class="GetInTouch">
        <div class="GetInTouchText">

            <h2 class="GetinToucHeading">Get in touch</h2>
            <p class="GetinToucText">Ready to get started</p>

        </div>
        <div class="inputSection">
            <input type="text" name="firstname" id="firstname" placeholder="Fist Name">
            <input type="text" name="lastname" id="lastname" placeholder="Last Name">
            <input type="email" name="email" id="email" placeholder="Email address">
            <input type="text" name="contactnumber" id="contactnumber" placeholder="Contact Number">
            <textarea name="message" id="message" placeholder="Message/query"></textarea>
            <div class="buttonWraper">
                <button type="submit" class="aboutUsSubmitBtn"><i class='bx bxl-telegram'></i>Submit</button>
            </div>
        </div>

    </div>
    <%- include('../partials/footer.ejs') %>