<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<style>
    .navbar{
        position: relative;
    }
    </style>
    <div class="topHeading">
        <h1 class="topHeadText">Contact Us</h1>
    </div>

    <div class="secondDiv">
        <h2 class="secondHeading">Get in touch with Us</h2>
    </div>

    <div class="infoContainer">
        <div class="heythere">
            <div class="infoItem">
                <img src="/images/location.svg" alt="">
                  <div class="infoItemText">
                    <h2 class="itemHeading">Our location</h2>
                    <p class="itemText">Beauty Experts (Pvt) Ltd. 11-km Bosan Road, Multan, Pakistan.</p>
                  </div>
            </div>
            <div class="infoItem">
                <img src="/images/Call.svg" alt="">
                  <div class="infoItemText">
                    <h2 class="itemHeading">Our Contact</h2>
                    <p class="itemText">+92 343 2889985</p>
                  </div>
            </div>
            <div class="infoItem">
                <img src="/images/mail.svg" alt="">
                  <div  class="infoItemText">
                    <h2 class="itemHeading">Our Mail box</h2>
                    <p class="itemText">Mustafa.azhar@caregroup.com.pk</p>
                  </div>
            </div>
        </div>
       <div class="mapDiv"><iframe class="map" src="https://maps.google.com/maps?q=Care%20Cosmetics&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no">
    </iframe>
    </div>
      
    </div>
    <div class="GetInTouch">
        <div class="GetInTouchText">

            <h2 class="GetinToucHeading">Get in touch</h2>
            <p class="GetinToucText">Ready to get started</p>

        </div>
        <div class="inputSection">
            <div>
                 <input class="placeholderEffect" type="text" name="firstname" id="firstname" placeholder="Fist Name" required>
       
       <!-- <label for="firstname" class="formLable">First Name</label> -->
            </div>
            <div>
                <input class="placeholderEffect"  type="text" name="lastname" id="lastname" placeholder="Last Name" required>
     
         <!-- <label for="lastname" class="formLable">Last Name</label> -->
    
            </div>
            <div>
                <input class="placeholderEffect" type="email" name="email" id="email" placeholder="Email address" required>

                <!-- <label for="email" class="formLable">Email</label> -->
            </div>
            <div>
                <input class="placeholderEffect" type="text" name="contactnumber" id="contactnumber" placeholder="Contact Number" required>
           
 <!-- <label for="contactnumber" class="formLable">Phone Number</label> -->
            </div>
            <div>
                <textarea class="placeholderEffect" name="message" id="message" placeholder="Message/query"></textarea>
         
      <!-- <label for="message" class="formLable">Message/query</label> -->
            </div>
           
           
           

         
            
           
        </div>
        <div class="buttonWraper">
            <button type="submit" class="aboutUsSubmitBtn"><i class='bx bxl-telegram'></i>Submit</button>
        </div>
    </div>
    
    <%- include('../partials/footer.ejs') %>