<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>
<style>

.navbar{
  position: relative;
}
</style>
<body >
    <div class="topHeading" >

      
       
        <h1 class="topHeadText hori">Sustainability<div class="companyTopDiv"> <p>Sustainability  </p> <svg xmlns="http://www.w3.org/2000/svg" width="9" height="19" viewBox="0 0 9 14" fill="none">
            <path d="M0 12.355L5.56275 7L0 1.645L1.71255 0L9 7L1.71255 14L0 12.355Z" fill="black"/>
          </svg><p> Sustainability at Care Group</p></div></h1>   </div>
       <div class="contentDivSus">
        <h2 class="sustanabilityHead">Sustainability at Care Group</h2>
      
        <div class="sustanabilityDivs">
            <div class="radioDiv">
                <h3>More Pages</h3>
                <input type="radio" id="sus" name="what" value="sus" checked="checked">
                <label for="sus">Sustainability at Care Group</label><br>
                <input type="radio" id="policy" name="what" value="policy">
                <label for="policy">Policies</label><br>
                
            </div>
           
                
            <div class="normalDivSus" id="sustain">
                <div class="setNormalMargins">
                <div class="normalDivSusImg"></div>
                <div class="normalDivSusText">
                    <h3>Our Employees</h3>
                    Our policies and procedures cover our employees and suppliers, including a child and forced labor avoidance, freedom of association, non-discrimination, working hours, and occupational health and safety. We respect the right to collective bargaining and freedom of association and prohibit discrimination
                </div>
            </div>
            </div>
            <div class="normalDivSus" id="sustain">
                <div class="setNormalMargins">
                <div class="normalDivSusImg"></div>
                <div class="normalDivSusText">
                    <h3>Our Employees</h3>
                    Our policies and procedures cover our employees and suppliers, including a child and forced labor avoidance, freedom of association, non-discrimination, working hours, and occupational health and safety. We respect the right to collective bargaining and freedom of association and prohibit discrimination
                </div>
            </div>
            </div>
            <div class="normalDivSus" id="sustain">
                <div class="setNormalMargins">
                <div class="normalDivSusImg"></div>
                <div class="normalDivSusText">
                    <h3>Our Employees</h3>
                    Our policies and procedures cover our employees and suppliers, including a child and forced labor avoidance, freedom of association, non-discrimination, working hours, and occupational health and safety. We respect the right to collective bargaining and freedom of association and prohibit discrimination
                </div>
            </div>
            </div>
            <div class="normalDivSus" id="sustain">
                <div class="setNormalMargins">
                <div class="normalDivSusImg"></div>
                <div class="normalDivSusText">
                    <h3>Our Employees</h3>
                    Our policies and procedures cover our employees and suppliers, including a child and forced labor avoidance, freedom of association, non-discrimination, working hours, and occupational health and safety. We respect the right to collective bargaining and freedom of association and prohibit discrimination
                </div>
            </div>
            </div>
            <div class="normalDivSus" id="sustain">
                <div class="setNormalMargins">
                <div class="normalDivSusImg"></div>
                <div class="normalDivSusText">
                    <h3>Our Employees</h3>
                    Our policies and procedures cover our employees and suppliers, including a child and forced labor avoidance, freedom of association, non-discrimination, working hours, and occupational health and safety. We respect the right to collective bargaining and freedom of association and prohibit discrimination
                </div>
            </div>
            </div>
            
       
        </div>
       </div>
     
 
    
      <%- include('../partials/footer.ejs') %>
    
    
    <script>
        // Get references to the radio buttons and the "sustain" div
        const susRadioButton = document.getElementById("sus");
        const policyRadioButton = document.getElementById("policy");
        // Get all elements with the class name "my-class"



      
        // Add event listeners to the radio buttons
        susRadioButton.addEventListener("change", () => {
          // Check if the "Sustainability" radio button is selected
          if (susRadioButton.checked) {
            // Show the "sustain" div
           
            var elements = document.querySelectorAll('.normalDivSus');
     
for (var i = 0; i < elements.length; i++) {
  elements[i].style.display = 'block';
}
          } else {
            var elements = document.querySelectorAll('.normalDivSus');
     
for (var i = 0; i < elements.length; i++) {
  elements[i].style.display = 'none';
}

          }
        });
      
        policyRadioButton.addEventListener("change", () => {
          // Check if the "Policy" radio button is selected
          if (policyRadioButton.checked) {
            // Hide the "sustain" div if "Policy" is selected
          
            var elements = document.querySelectorAll('.normalDivSus');
     
for (var i = 0; i < elements.length; i++) {
  elements[i].style.display = 'none';
}
          }
        });
      </script>
      
  