<!DOCTYPE html>
<html>
<head>
  <title>Edit Business Activity</title>
  <link href="/stylesheets/editForms.css" rel="stylesheet" type=" text/css">
</head>
<body>
  <div class="container"> 
    <form action="/editBa/<%= baData._id %>" method="POST" enctype="multipart/form-data">
      <label for="image">Image:</label>
      <input type="file" name="image" id="image">
    
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= baData.name %>" required>
    
      <label for="description">Description:</label>
      <textarea name="description" id="description" rows="4" required><%= baData.description %></textarea>
    
      <input type="submit" value="Update Business Activity">
    </form>
    
    
  </div>
</body>
</html>
