<div class="css-selector">
    <!-- CUSTOM FOOTER START -->
    <div class="custom-footer">
      <div class="custom-contain">
        <div class="custom-col">
          <h1></h1>
          <ul>
             <img class="footerlogo" src="/images/footername.png" alt="">
               
          </ul>
          <div style="padding-top: 40px;">
            <a target="_blank" class="social-links" href="https://linktr.ee/caregroup"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ce994b" d="m13.736 5.853l4.005-4.117l2.325 2.38l-4.2 4.005h5.908v3.305h-5.937l4.229 4.108l-2.325 2.334l-5.74-5.769l-5.741 5.769l-2.325-2.325l4.229-4.108H2.226V8.121h5.909l-4.2-4.004l2.324-2.381l4.005 4.117V0h3.472zm-3.472 10.306h3.472V24h-3.472z"/></svg></a>
         
          </div>
         
        </div>
        <div class="custom-col">
          <h1>Useful Links</h1>
          <h2>Home</h2>
          <ul>
            <a style="text-decoration: none;" href="/corporategovernance"><li>About Us</li></a>
            
            <a style="text-decoration: none;" href="/#brands"><li>Group of Companies</li></a>
            
            <a style="text-decoration: none;" href="/sustainability"><li>Sustainability</li></a>
            
            <a style="text-decoration: none;" href="/careers"><li>Careers</li></a>
            
            <a style="text-decoration: none;" href="/contactus"><li>Contact Us</li></a>
     
          </ul>
        </div>
        <div class="custom-col">
          <h1>Get In Touch</h1>
          <ul>
            <li style="cursor: default;">Beauty Experts (Pvt) Ltd. 11-km Bosan Road, Multan, Pakistan.</li>
            <li style="cursor: default;">Mustafa.azhar@caregroup.com.pk</li>
            <li style="cursor: default;">+92 343 2889985</li>
            
          </ul>
        </div>
        <div class="custom-col">
          <h1 style="align-items: center; display: flex; justify-content: center;"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 19" fill="none">
            <path d="M21.6 0H2.4C1.08 0 0.012 1.06875 0.012 2.375L0 16.625C0 17.9312 1.08 19 2.4 19H21.6C22.92 19 24 17.9312 24 16.625V2.375C24 1.06875 22.92 0 21.6 0ZM21.6 4.75L12 10.6875L2.4 4.75V2.375L12 8.3125L21.6 2.375V4.75Z" fill="#CE994B"/>
          </svg> <span class="spantext">Stay up to date on the latest from care </span></h1>
          <ul>
           <li><input class="emailenter" type="text" placeholder="Enter your email address" name="" id=""></li> <br>
            <li><a class="subbtn" href="">Subscribe</a></li>
          </ul>
        </div>
        <div class="custom-clearfix"></div>
      </div>
    </div>
   
  
    <p class="fotterCopyRight">Copyright © 2023 Care group | All Rights Reserved</p>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/javascript/main.js"></script>
<script>
  const menuItems = document.querySelectorAll('.main-menu > li');

  // Add click event listener to each menu item
  menuItems.forEach(item => {
    const submenu = item.querySelector('ul');

    if (submenu) {
      // Add click event listener to toggle submenu visibility
      item.addEventListener('click', () => {
        submenu.classList.toggle('show');
      });
    }
  });
</script>
</body>

</html>