<style>
  
 ul li a:active,
ul li a:focus {
  outline: none !important; /* Remove the default focus outline */
  border-bottom: 3px solid transparent !important; /* Remove the border on click */
}
</style>
<div class="css-selector">
    <!-- CUSTOM FOOTER START -->
    <div class="custom-footer">
      <div class="custom-contain">
        <div class="custom-col">
          <h1></h1>
          <ul>
             <img class="footerlogo" src="/images/footername.png" alt="">
               
          </ul>
     
         
        </div>
        <div class="custom-col">
          <h1>Useful Links</h1>
          <h2>Home</h2>
          <ul>
            <a style="text-decoration: none;" href="/corporategovernance"><li>About Us</li></a>
            
            <a style="text-decoration: none;" href="/#brands"><li>Group of Companies</li></a>
            
            <a style="text-decoration: none;" href="/sustainability"><li>Sustainability</li></a>
            
            <a style="text-decoration: none;" href="/careers"><li>Careers</li></a>
            
            <a style="text-decoration: none;" href="/contactus"><li>Contact Us</li></a>
     
          </ul>
        </div>
        <div class="custom-col">
          <h1>Get In Touch</h1>
          <ul>
            <li style="cursor: default;">Beauty Experts (Pvt) Ltd. 11-km Bosan Road, Multan, Pakistan.</li>
            <li style="cursor: default;">+92 343 2889985</li>
            <li style="cursor: default;">Mustafa.azhar@caregroup.com.pk</li>
            
          </ul>
        </div>
        <div class="custom-col">
          <ul>
           <li><a href="https://linktr.ee/caregroup" target="_blank"><img class="linktree" src="/images/linktree.webp" alt=""></a> <br>
          </ul>
        </div>
        <div class="custom-clearfix"></div>
      </div>
    </div>
   
  
    <p class="fotterCopyRight">Copyright © 2023 Care group | All Rights Reserved</p>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/javascript/main.js"></script>
<script>
  const menuItems = document.querySelectorAll('.main-menu > li');

  // Add click event listener to each menu item
  menuItems.forEach(item => {
    const submenu = item.querySelector('ul');

    if (submenu) {
      // Add click event listener to toggle submenu visibility
      item.addEventListener('click', () => {
        submenu.classList.toggle('show');
      });
    }
  });
</script>
</body>

</html>