<div class="css-selector">
    <!-- CUSTOM FOOTER START -->
    <div class="custom-footer">
      <div class="custom-contain">
        <div class="custom-col">
          <h1></h1>
          <ul>
              <svg xmlns="http://www.w3.org/2000/svg" width="203" height="45" viewBox="0 0 203 45" fill="none">
                  <g clip-path="url(#clip0_38_1788)">
                    <path d="M74.9605 33.237H74.4282C74.4503 32.8639 74.3616 32.5018 74.1731 32.1617C73.9845 31.8215 73.7073 31.6459 73.3524 31.6459C73.2637 31.6459 72.565 32.0629 71.223 32.8859C69.8922 33.7088 68.6389 34.1258 67.4855 34.1258C64.5909 34.1258 62.1621 32.8749 60.2324 30.3731C58.4246 28.0797 57.5152 25.4572 57.5152 22.4945C57.5152 19.5318 58.4246 16.9093 60.2324 14.6159C62.1843 12.1361 64.6131 10.8961 67.4855 10.8961C68.6278 10.8961 69.8256 11.2802 71.0788 12.0483C72.3432 12.8164 73.064 13.2004 73.2526 13.2004C73.6297 13.2004 73.9291 13.0688 74.1509 12.7944C74.3727 12.5201 74.4614 12.2019 74.4171 11.8288H74.9494V18.5772H74.4171C74.4171 16.7227 73.7295 15.0549 72.3542 13.5955C70.979 12.1251 69.3487 11.3899 67.4855 11.3899C65.0234 11.3899 63.2712 12.7176 62.2286 15.3621C61.4856 17.1946 61.1196 19.5757 61.1196 22.4945C61.1196 25.4133 61.4856 27.7835 62.2286 29.6269C63.2822 32.2933 65.0345 33.632 67.4855 33.632C69.4596 33.632 71.1343 32.7981 72.4984 31.1302C73.7738 29.5501 74.4171 27.7615 74.4171 25.7864H74.9494V33.259L74.9605 33.237Z" fill="#404041"/>
                    <path d="M100.713 23.109C100.713 21.1119 99.7255 20.1024 97.7403 20.1024H96.4427V26.2034H97.6072C99.6701 26.2034 100.701 25.1719 100.701 23.109M105.659 33.3906C105.027 33.7089 104.317 33.8625 103.541 33.8625C101.944 33.8625 100.923 33.248 100.502 32.019C100.335 30.8778 100.169 29.7147 99.9917 28.5516C99.7144 27.3226 98.9492 26.7081 97.6849 26.7081H96.4206V33.1163H98.6941V33.6211H91.4853V33.1163H93.7588V20.1134H91.4853V19.6086H97.8956C101.522 19.6086 103.33 20.7279 103.33 22.9554C103.33 24.8537 101.844 25.962 98.8715 26.3021V26.368C100.369 26.5326 101.389 26.8947 101.955 27.4323C102.509 27.97 102.875 28.9795 103.042 30.4389C103.086 31.0205 103.141 31.5911 103.197 32.1617C103.363 32.9737 103.685 33.3797 104.14 33.3797C104.594 33.3797 105.049 33.2699 105.47 33.0395L105.626 33.4126L105.659 33.3906Z" fill="#404041"/>
                    <path d="M119.134 33.6101H106.591V33.1053H108.864V20.1024H106.591V19.5977H118.003L118.38 23.1639H117.87C117.781 22.0556 117.481 21.2765 116.971 20.8047C116.45 20.3328 115.64 20.1024 114.52 20.1024H111.515V26.2034H112.668C113.666 26.2034 114.298 26.0497 114.565 25.7315C114.82 25.4243 114.964 24.7549 114.986 23.7345H115.518V29.177H114.986C114.964 28.2114 114.842 27.564 114.609 27.2458C114.332 26.8398 113.766 26.6423 112.923 26.6423H111.515V33.1163H114.986C117.393 33.1163 118.59 31.8764 118.59 29.3965H119.123V33.6211L119.134 33.6101Z" fill="#404041"/>
                    <path d="M84.0436 28.5187L82.1139 23.4163L80.0732 28.5187H84.0436ZM90.5648 33.6101H83.9882V33.1054H85.807L84.2211 29.0454H79.918C79.6407 29.6269 79.3745 30.2195 79.0973 30.823C78.7424 31.5911 78.5649 32.1946 78.5649 32.6335C78.5649 33.0286 79.1749 33.1822 80.3949 33.1054V33.6101H76.0696V33.1054C76.7905 33.1054 77.2784 33.0176 77.5557 32.853C77.833 32.6884 78.088 32.2934 78.3431 31.6679L83.2673 19.3234H83.4226L88.8236 33.1163H90.5648V33.6211V33.6101Z" fill="#404041"/>
                    <path d="M148.524 26.9824H146.028V30.7352C143.245 32.9846 140.416 34.1148 137.533 34.1148C134.328 34.1148 131.821 32.9407 130.014 30.5815C128.372 28.4528 127.552 25.7535 127.552 22.4835C127.552 19.5208 128.461 16.8983 130.269 14.605C132.198 12.1251 134.627 10.8851 137.522 10.8851C138.697 10.8851 139.973 11.2363 141.348 11.9495C142.723 12.6627 143.466 13.0139 143.566 13.0139C143.965 13.0139 144.276 12.8383 144.487 12.4872C144.653 12.1909 144.72 11.8507 144.675 11.4557H145.208V18.2041H144.675C144.586 16.3935 143.832 14.8025 142.402 13.4309C140.971 12.0702 139.341 11.3789 137.511 11.3789C135.049 11.3789 133.296 12.7066 132.254 15.3511C131.522 17.1836 131.145 19.5647 131.145 22.4835C131.145 25.4023 131.511 27.7725 132.254 29.6159C133.307 32.2824 135.071 33.621 137.533 33.621C140.927 33.621 142.623 32.3372 142.623 29.7805V26.9934H139.718V26.4886H148.535V26.9934L148.524 26.9824Z" fill="#404041"/>
                    <path d="M156.265 23.109C156.265 21.1119 155.278 20.1024 153.293 20.1024H151.995V26.2034H153.159C155.222 26.2034 156.254 25.1719 156.254 23.109M161.211 33.3906C160.579 33.7089 159.869 33.8625 159.093 33.8625C157.496 33.8625 156.475 33.248 156.054 32.019C155.888 30.8778 155.721 29.7147 155.544 28.5516C155.267 27.3226 154.501 26.7081 153.237 26.7081H151.973V33.1163H154.246V33.6211H147.037V33.1163H149.311V20.1134H147.037V19.6086H153.448C157.074 19.6086 158.882 20.7279 158.882 22.9554C158.882 24.8537 157.396 25.962 154.424 26.3021V26.368C155.921 26.5326 156.941 26.8947 157.507 27.4323C158.061 27.97 158.427 28.9795 158.594 30.4389C158.638 31.0205 158.694 31.5911 158.749 32.1617C158.915 32.9737 159.237 33.3797 159.692 33.3797C160.146 33.3797 160.601 33.2699 161.023 33.0395L161.178 33.4126L161.211 33.3906Z" fill="#404041"/>
                    <path d="M171.969 26.6094C171.969 22.1105 170.671 19.861 168.087 19.861C165.503 19.861 164.172 22.1105 164.172 26.6094C164.172 31.1083 165.481 33.3577 168.087 33.3577C170.693 33.3577 171.969 31.1083 171.969 26.6094ZM175.008 26.6094C175.008 28.5845 174.353 30.2744 173.045 31.6789C171.714 33.1383 170.061 33.8625 168.087 33.8625C166.113 33.8625 164.427 33.1493 163.108 31.7228C161.788 30.2963 161.133 28.5955 161.133 26.6094C161.133 24.6233 161.788 22.8896 163.108 21.4631C164.427 20.0366 166.08 19.3234 168.087 19.3234C170.095 19.3234 171.747 20.0366 173.045 21.4631C174.353 22.8896 175.008 24.6013 175.008 26.6094Z" fill="#404041"/>
                    <path d="M190.678 20.1024H189.858C188.704 20.0805 188.117 20.9364 188.117 22.6701C188.117 23.1529 188.172 24.0197 188.294 25.2926C188.405 26.5655 188.471 27.5311 188.471 28.2004C188.471 29.9561 188.15 31.2619 187.496 32.1397C186.653 33.2809 185.211 33.8625 183.17 33.8625C181.318 33.8625 179.965 33.5991 179.122 33.0834C178.091 32.414 177.57 31.218 177.57 29.4843V20.1024H175.074V19.5977H182.749V20.1024H180.22V29.2648C180.22 31.9971 181.407 33.3577 183.791 33.3577C185.011 33.3577 185.998 33.0395 186.73 32.3921C187.473 31.7557 187.839 30.8339 187.839 29.6489V21.4082C187.839 20.5413 187.296 20.1024 186.198 20.1024H185.089V19.5977H190.678V20.1024Z" fill="#404041"/>
                    <path d="M200.161 23.5808C200.161 22.3738 199.928 21.496 199.462 20.9364C198.996 20.3877 198.165 20.1024 196.967 20.1024H195.669V26.6094C196.446 26.9056 197.078 27.0483 197.566 27.0483C199.296 27.0483 200.161 25.8961 200.161 23.5808ZM203 23.5808C203 24.8537 202.446 25.8522 201.325 26.5874C200.36 27.2348 199.196 27.553 197.854 27.553C197.222 27.553 196.49 27.4104 195.669 27.1141V33.1163H198.287V33.6211H190.479V33.1163H193.008V20.1134H190.479V19.6086H197.144C201.037 19.6086 202.989 20.9364 202.989 23.5808H203Z" fill="#404041"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8.22913 15.5157C6.3992 15.9766 5.03507 17.6225 5.03507 19.5648V25.4243C5.03507 27.7286 6.93155 29.605 9.26055 29.605H27.7595V34.5867H9.24945C4.15893 34.5867 0 30.4719 0 25.4353V19.5757C0 14.8793 3.61549 10.9839 8.22913 10.4792V15.5267V15.5157ZM45.4377 26.379C45.0051 30.5267 41.7335 33.8844 37.5967 34.4879V29.3855C38.9608 28.9247 40.0255 27.7835 40.3471 26.368H45.4377V26.379ZM18.0664 10.4133H36.2326C41.0015 10.4133 44.9608 14.0344 45.4377 18.6211H40.3471C39.9146 16.7776 38.2289 15.3841 36.2326 15.3841H18.0664V10.4133Z" fill="#CE994B"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4916 27.2019V9.15143C10.4916 4.11485 14.6616 0 19.7521 0H25.6744C30.3546 0 34.2474 3.47842 34.8463 7.9444H29.7225C29.2012 6.23263 27.582 4.97074 25.6744 4.97074H19.7521C17.4231 4.97074 15.5267 6.84711 15.5267 9.15143V27.2019H10.4916ZM34.9239 19.9049V35.8376C34.9239 40.8742 30.765 44.989 25.6744 44.989H19.7521C15.0941 44.989 11.2125 41.5435 10.5914 37.0995H15.7263C16.2697 38.7784 17.8778 40.0073 19.7521 40.0073H25.6744C28.0034 40.0073 29.8999 38.1309 29.8999 35.8266V24.8756H21.7595V19.9049H34.9239Z" fill="#CE994B"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_38_1788">
                      <rect width="203" height="45" fill="white"/>
                    </clipPath>
                  </defs>
                </svg>
               
          </ul>
          <div style="padding-top: 40px;">
            <a class="social-links" href=""><img src="/images/youtube.png" alt=""></a>
            <a class="social-links" href=""><img src="/images/instagram.png" alt=""></a>
            
            <a class="social-links" href=""><svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
                <path d="M19.3072 4.61879C19.3072 4.47317 19.2494 4.33351 19.1464 4.23054C19.0434 4.12757 18.9038 4.06973 18.7582 4.06973H16.0129C14.6304 4.00086 13.277 4.48195 12.2482 5.40788C11.2194 6.33381 10.5989 7.6293 10.5222 9.01129V11.9762H7.77691C7.63129 11.9762 7.49163 12.0341 7.38866 12.1371C7.28569 12.24 7.22784 12.3797 7.22784 12.5253V15.3804C7.22784 15.526 7.28569 15.6657 7.38866 15.7687C7.49163 15.8716 7.63129 15.9295 7.77691 15.9295H10.5222V23.2869C10.5222 23.4326 10.5801 23.5722 10.683 23.6752C10.786 23.7782 10.9257 23.836 11.0713 23.836H14.3657C14.5113 23.836 14.6509 23.7782 14.7539 23.6752C14.8569 23.5722 14.9147 23.4326 14.9147 23.2869V15.9295H17.7918C17.9139 15.9312 18.0331 15.8922 18.1306 15.8187C18.228 15.7451 18.2982 15.6411 18.3299 15.5232L19.1206 12.6681C19.1424 12.5869 19.1453 12.5019 19.1291 12.4194C19.1129 12.337 19.078 12.2594 19.0271 12.1925C18.9762 12.1257 18.9106 12.0715 18.8354 12.034C18.7603 11.9965 18.6775 11.9767 18.5935 11.9762H14.9147V9.01129C14.942 8.73948 15.0697 8.48761 15.2727 8.30486C15.4758 8.12211 15.7397 8.02161 16.0129 8.02298H18.7582C18.9038 8.02298 19.0434 7.96513 19.1464 7.86216C19.2494 7.75919 19.3072 7.61954 19.3072 7.47392V4.61879Z" fill="#CE994B"/>
              </svg></a>
            <a class="social-links" href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M15.4249 8.46414C14.6823 8.4616 13.9464 8.60551 13.2595 8.88764C12.5725 9.16978 11.9479 9.5846 11.4214 10.1084C10.895 10.6322 10.4769 11.2546 10.1913 11.9401C9.90561 12.6256 9.75792 13.3607 9.75665 14.1033V19.8007C9.75665 20.032 9.84853 20.2538 10.0121 20.4173C10.1756 20.5808 10.3974 20.6727 10.6287 20.6727H12.6635C12.8947 20.6727 13.1165 20.5808 13.2801 20.4173C13.4436 20.2538 13.5355 20.032 13.5355 19.8007V14.1033C13.5353 13.8392 13.5908 13.578 13.6983 13.3368C13.8058 13.0955 13.963 12.8796 14.1596 12.7032C14.3561 12.5267 14.5876 12.3937 14.8391 12.3127C15.0905 12.2318 15.3561 12.2047 15.6187 12.2333C16.0896 12.2926 16.5224 12.5227 16.8349 12.8799C17.1475 13.2371 17.3181 13.6966 17.3143 14.1712V19.8007C17.3143 20.032 17.4062 20.2538 17.5698 20.4173C17.7333 20.5808 17.9551 20.6727 18.1864 20.6727H20.2211C20.4524 20.6727 20.6742 20.5808 20.8378 20.4173C21.0013 20.2538 21.0932 20.032 21.0932 19.8007V14.1033C21.0919 13.3607 20.9442 12.6256 20.6586 11.9401C20.3729 11.2546 19.9549 10.6322 19.4284 10.1084C18.9019 9.5846 18.2773 9.16978 17.5904 8.88764C16.9034 8.60551 16.1676 8.4616 15.4249 8.46414Z" fill="#CE994B"/>
                <path d="M7.14051 9.33618H4.52439C4.04277 9.33618 3.65234 9.72661 3.65234 10.2082V19.8007C3.65234 20.2823 4.04277 20.6727 4.52439 20.6727H7.14051C7.62212 20.6727 8.01255 20.2823 8.01255 19.8007V10.2082C8.01255 9.72661 7.62212 9.33618 7.14051 9.33618Z" fill="#CE994B"/>
                <path d="M5.83245 7.59214C7.03649 7.59214 8.01255 6.61608 8.01255 5.41204C8.01255 4.208 7.03649 3.23193 5.83245 3.23193C4.62841 3.23193 3.65234 4.208 3.65234 5.41204C3.65234 6.61608 4.62841 7.59214 5.83245 7.59214Z" fill="#CE994B"/>
              </svg></a>
          </div>
         
        </div>
        <div class="custom-col">
          <h1>Useful Links</h1>
          <h2>Home</h2>
          <ul>
            <li>About Us</li>
            <li>Group of Companies</li>
            <li>Sustainability</li>
            <li>Careers</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="custom-col">
          <h1>Get In Touch</h1>
          <ul>
            <li>Location</li>
            <li>Email Address</li>
            <li>Contact Number of Companies</li>
            
          </ul>
        </div>
        <div class="custom-col">
          <h1 style="align-items: center; display: flex; justify-content: center;"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 19" fill="none">
            <path d="M21.6 0H2.4C1.08 0 0.012 1.06875 0.012 2.375L0 16.625C0 17.9312 1.08 19 2.4 19H21.6C22.92 19 24 17.9312 24 16.625V2.375C24 1.06875 22.92 0 21.6 0ZM21.6 4.75L12 10.6875L2.4 4.75V2.375L12 8.3125L21.6 2.375V4.75Z" fill="#CE994B"/>
          </svg> <span class="spantext">Stay up to date on the latest from care </span></h1>
          <ul>
           <li><input class="emailenter" type="text" placeholder="Enter your email address" name="" id=""></li> <br>
            <li><a class="subbtn" href="">Subscribe</a></li>
          </ul>
        </div>
        <div class="custom-clearfix"></div>
      </div>
    </div>
   
  
    <p class="fotterCopyRight">Copyright © 2023 Care group | All Rights Reserved</p>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/javascript/main.js"></script>
<script>
  const menuItems = document.querySelectorAll('.main-menu > li');

  // Add click event listener to each menu item
  menuItems.forEach(item => {
    const submenu = item.querySelector('ul');

    if (submenu) {
      // Add click event listener to toggle submenu visibility
      item.addEventListener('click', () => {
        submenu.classList.toggle('show');
      });
    }
  });
</script>
</body>

</html>