<div class="css-selector">
    <!-- CUSTOM FOOTER START -->
    <div class="custom-footer">
      <div class="custom-contain">
        <div class="custom-col">
          <h1></h1>
          <ul>
             <img class="footerlogo" src="/images/footername.png" alt="">
               
          </ul>
          <div style="padding-top: 40px;">
            <a class="social-links" href=""><img src="/images/youtube.png" alt=""></a>
            <a class="social-links" href=""><img src="/images/instagram.png" alt=""></a>
            
            <a class="social-links" href=""><svg xmlns="http://www.w3.org/2000/svg" width="27" height="28" viewBox="0 0 27 28" fill="none">
                <path d="M19.3072 4.61879C19.3072 4.47317 19.2494 4.33351 19.1464 4.23054C19.0434 4.12757 18.9038 4.06973 18.7582 4.06973H16.0129C14.6304 4.00086 13.277 4.48195 12.2482 5.40788C11.2194 6.33381 10.5989 7.6293 10.5222 9.01129V11.9762H7.77691C7.63129 11.9762 7.49163 12.0341 7.38866 12.1371C7.28569 12.24 7.22784 12.3797 7.22784 12.5253V15.3804C7.22784 15.526 7.28569 15.6657 7.38866 15.7687C7.49163 15.8716 7.63129 15.9295 7.77691 15.9295H10.5222V23.2869C10.5222 23.4326 10.5801 23.5722 10.683 23.6752C10.786 23.7782 10.9257 23.836 11.0713 23.836H14.3657C14.5113 23.836 14.6509 23.7782 14.7539 23.6752C14.8569 23.5722 14.9147 23.4326 14.9147 23.2869V15.9295H17.7918C17.9139 15.9312 18.0331 15.8922 18.1306 15.8187C18.228 15.7451 18.2982 15.6411 18.3299 15.5232L19.1206 12.6681C19.1424 12.5869 19.1453 12.5019 19.1291 12.4194C19.1129 12.337 19.078 12.2594 19.0271 12.1925C18.9762 12.1257 18.9106 12.0715 18.8354 12.034C18.7603 11.9965 18.6775 11.9767 18.5935 11.9762H14.9147V9.01129C14.942 8.73948 15.0697 8.48761 15.2727 8.30486C15.4758 8.12211 15.7397 8.02161 16.0129 8.02298H18.7582C18.9038 8.02298 19.0434 7.96513 19.1464 7.86216C19.2494 7.75919 19.3072 7.61954 19.3072 7.47392V4.61879Z" fill="#CE994B"/>
              </svg></a>
            <a class="social-links" href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path d="M15.4249 8.46414C14.6823 8.4616 13.9464 8.60551 13.2595 8.88764C12.5725 9.16978 11.9479 9.5846 11.4214 10.1084C10.895 10.6322 10.4769 11.2546 10.1913 11.9401C9.90561 12.6256 9.75792 13.3607 9.75665 14.1033V19.8007C9.75665 20.032 9.84853 20.2538 10.0121 20.4173C10.1756 20.5808 10.3974 20.6727 10.6287 20.6727H12.6635C12.8947 20.6727 13.1165 20.5808 13.2801 20.4173C13.4436 20.2538 13.5355 20.032 13.5355 19.8007V14.1033C13.5353 13.8392 13.5908 13.578 13.6983 13.3368C13.8058 13.0955 13.963 12.8796 14.1596 12.7032C14.3561 12.5267 14.5876 12.3937 14.8391 12.3127C15.0905 12.2318 15.3561 12.2047 15.6187 12.2333C16.0896 12.2926 16.5224 12.5227 16.8349 12.8799C17.1475 13.2371 17.3181 13.6966 17.3143 14.1712V19.8007C17.3143 20.032 17.4062 20.2538 17.5698 20.4173C17.7333 20.5808 17.9551 20.6727 18.1864 20.6727H20.2211C20.4524 20.6727 20.6742 20.5808 20.8378 20.4173C21.0013 20.2538 21.0932 20.032 21.0932 19.8007V14.1033C21.0919 13.3607 20.9442 12.6256 20.6586 11.9401C20.3729 11.2546 19.9549 10.6322 19.4284 10.1084C18.9019 9.5846 18.2773 9.16978 17.5904 8.88764C16.9034 8.60551 16.1676 8.4616 15.4249 8.46414Z" fill="#CE994B"/>
                <path d="M7.14051 9.33618H4.52439C4.04277 9.33618 3.65234 9.72661 3.65234 10.2082V19.8007C3.65234 20.2823 4.04277 20.6727 4.52439 20.6727H7.14051C7.62212 20.6727 8.01255 20.2823 8.01255 19.8007V10.2082C8.01255 9.72661 7.62212 9.33618 7.14051 9.33618Z" fill="#CE994B"/>
                <path d="M5.83245 7.59214C7.03649 7.59214 8.01255 6.61608 8.01255 5.41204C8.01255 4.208 7.03649 3.23193 5.83245 3.23193C4.62841 3.23193 3.65234 4.208 3.65234 5.41204C3.65234 6.61608 4.62841 7.59214 5.83245 7.59214Z" fill="#CE994B"/>
              </svg></a>
          </div>
         
        </div>
        <div class="custom-col">
          <h1>Useful Links</h1>
          <h2>Home</h2>
          <ul>
            <li>About Us</li>
            <li>Group of Companies</li>
            <li>Sustainability</li>
            <li>Careers</li>
            <li>Contact Us</li>
          </ul>
        </div>
        <div class="custom-col">
          <h1>Get In Touch</h1>
          <ul>
            <li>Location</li>
            <li>Email Address</li>
            <li>Contact Number of Companies</li>
            
          </ul>
        </div>
        <div class="custom-col">
          <h1 style="align-items: center; display: flex; justify-content: center;"><svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 19" fill="none">
            <path d="M21.6 0H2.4C1.08 0 0.012 1.06875 0.012 2.375L0 16.625C0 17.9312 1.08 19 2.4 19H21.6C22.92 19 24 17.9312 24 16.625V2.375C24 1.06875 22.92 0 21.6 0ZM21.6 4.75L12 10.6875L2.4 4.75V2.375L12 8.3125L21.6 2.375V4.75Z" fill="#CE994B"/>
          </svg> <span class="spantext">Stay up to date on the latest from care </span></h1>
          <ul>
           <li><input class="emailenter" type="text" placeholder="Enter your email address" name="" id=""></li> <br>
            <li><a class="subbtn" href="">Subscribe</a></li>
          </ul>
        </div>
        <div class="custom-clearfix"></div>
      </div>
    </div>
   
  
    <p class="fotterCopyRight">Copyright © 2023 Care group | All Rights Reserved</p>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="/javascript/main.js"></script>
<script>
  const menuItems = document.querySelectorAll('.main-menu > li');

  // Add click event listener to each menu item
  menuItems.forEach(item => {
    const submenu = item.querySelector('ul');

    if (submenu) {
      // Add click event listener to toggle submenu visibility
      item.addEventListener('click', () => {
        submenu.classList.toggle('show');
      });
    }
  });
</script>
</body>

</html>