<!-- Navbar Start  -->
<style>
    /* Reset default list styles */
    nav,
    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  
    /* Main navigation styles */
    nav ul {
      background-color: #f1f1f100;
      padding: 10px;
    }
  
    nav ul li {
      position: relative;
    }
  
    nav ul li a {
      display: block;
      padding: 8px 12px;
      border-bottom: 3px solid transparent;
  
    }
  
    /* Hover effect for anchor tags */
    nav ul li a:hover {
      /* Change color on hover */
      color: black;
      scale: 1.1;
    }
  
    /* Hide submenus by default */
    nav ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #ffffff;
    }
  
    /* Show submenu on parent hover */
    nav ul li:hover>ul {
      display: block;
    }
  
    /* Adjust submenu styles */
    nav ul ul li {
      width: 200px;
    }
  
    nav ul ul li a {
      padding: 8px 12px;
    }
  
    /* Add hover effect to submenu items */
    nav ul ul li:hover>ul {
      display: block;
      left: 100%;
      top: 0;
    }
  </style>
<div class="navbar">
    <div class="logo">
      <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="250" height="56" viewBox="0 0 250 56" fill="none">
          <g clip-path="url(#clip0_38_1672)">
            <path d="M92.3159 41.3616H91.6603C91.6876 40.8973 91.5784 40.4467 91.3462 40.0234C91.114 39.6 90.7725 39.3816 90.3355 39.3816C90.2262 39.3816 89.3657 39.9005 87.7131 40.9246C86.0741 41.9487 84.5307 42.4676 83.1103 42.4676C79.5455 42.4676 76.5543 40.9109 74.1778 37.7976C71.9515 34.9436 70.8315 31.68 70.8315 27.9931C70.8315 24.3062 71.9515 21.0426 74.1778 18.1887C76.5817 15.1026 79.5728 13.5596 83.1103 13.5596C84.5171 13.5596 85.9922 14.0375 87.5355 14.9934C89.0926 15.9492 89.9804 16.4272 90.2126 16.4272C90.6769 16.4272 91.0457 16.2633 91.3189 15.9219C91.592 15.5805 91.7013 15.1845 91.6467 14.7203H92.3023V23.1182H91.6467C91.6467 20.8105 90.7999 18.7349 89.1062 16.9188C87.4126 15.089 85.4049 14.1741 83.1103 14.1741C80.0782 14.1741 77.9202 15.8263 76.6363 19.1172C75.7212 21.3977 75.2705 24.3608 75.2705 27.9931C75.2705 31.6254 75.7212 34.5749 76.6363 36.869C77.9338 40.1872 80.0918 41.8532 83.1103 41.8532C85.5414 41.8532 87.6038 40.8154 89.2838 38.7398C90.8545 36.7734 91.6467 34.5476 91.6467 32.0897H92.3023V41.3889L92.3159 41.3616Z" fill="#404041" />
            <path d="M124.03 28.7579C124.03 26.2726 122.815 25.0163 120.37 25.0163H118.772V32.6086H120.206C122.746 32.6086 124.017 31.325 124.017 28.7579M130.122 41.5528C129.343 41.9488 128.469 42.14 127.513 42.14C125.546 42.14 124.29 41.3753 123.771 39.8459C123.566 38.4258 123.361 36.9783 123.142 35.5308C122.801 34.0015 121.859 33.2368 120.302 33.2368H118.745V41.2114H121.544V41.8396H112.667V41.2114H115.467V25.03H112.667V24.4019H120.561C125.027 24.4019 127.254 25.7947 127.254 28.5667C127.254 30.929 125.423 32.3082 121.763 32.7315V32.8135C123.607 33.0183 124.863 33.4689 125.56 34.138C126.243 34.8071 126.694 36.0634 126.898 37.8795C126.953 38.6033 127.021 39.3133 127.09 40.0234C127.295 41.0339 127.691 41.5391 128.251 41.5391C128.811 41.5391 129.371 41.4026 129.89 41.1158L130.081 41.5801L130.122 41.5528Z" fill="#404041" />
            <path d="M146.717 41.8259H131.269V41.1977H134.069V25.0163H131.269V24.3882H145.323L145.788 28.8261H145.16C145.05 27.4469 144.682 26.4774 144.053 25.8903C143.411 25.3031 142.414 25.0163 141.035 25.0163H137.333V32.6086H138.754C139.983 32.6086 140.762 32.4174 141.089 32.0214C141.404 31.6391 141.581 30.8061 141.608 29.5362H142.264V36.3092H141.608C141.581 35.1075 141.431 34.3019 141.144 33.9059C140.803 33.4006 140.106 33.1548 139.068 33.1548H137.333V41.2114H141.608C144.572 41.2114 146.047 39.6684 146.047 36.5823H146.703V41.8395L146.717 41.8259Z" fill="#404041" />
            <path d="M103.502 35.4899L101.125 29.1403L98.6123 35.4899H103.502ZM111.533 41.826H103.434V41.1978H105.674L103.72 36.1454H98.4211C98.0796 36.8691 97.7519 37.6065 97.4104 38.3575C96.9733 39.3134 96.7548 40.0644 96.7548 40.6106C96.7548 41.1022 97.506 41.2934 99.0084 41.1978V41.826H93.6817V41.1978C94.5695 41.1978 95.1705 41.0886 95.5119 40.8837C95.8534 40.6789 96.1675 40.1873 96.4816 39.409L102.546 24.0469H102.737L109.389 41.2115H111.533V41.8396V41.826Z" fill="#404041" />
            <path d="M182.911 33.5782H179.838V38.2483C176.41 41.0476 172.927 42.4541 169.376 42.4541C165.428 42.4541 162.342 40.993 160.115 38.0571C158.094 35.408 157.083 32.0488 157.083 27.9796C157.083 24.2927 158.203 21.0291 160.429 18.1751C162.806 15.0891 165.797 13.546 169.362 13.546C170.81 13.546 172.38 13.983 174.074 14.8706C175.768 15.7582 176.683 16.1951 176.806 16.1951C177.297 16.1951 177.68 15.9766 177.939 15.5397C178.144 15.171 178.226 14.7477 178.171 14.2561H178.827V22.654H178.171C178.062 20.4009 177.133 18.4209 175.372 16.714C173.61 15.0208 171.602 14.1605 169.348 14.1605C166.316 14.1605 164.158 15.8128 162.874 19.1037C161.973 21.3841 161.508 24.3473 161.508 27.9796C161.508 31.6119 161.959 34.5614 162.874 36.8555C164.172 40.1737 166.343 41.8396 169.376 41.8396C173.555 41.8396 175.645 40.2419 175.645 37.0603V33.5919H172.066V32.9637H182.924V33.5919L182.911 33.5782Z" fill="#404041" />
            <path d="M192.444 28.7579C192.444 26.2726 191.229 25.0163 188.784 25.0163H187.186V32.6086H188.62C191.16 32.6086 192.431 31.325 192.431 28.7579M198.536 41.5528C197.757 41.9488 196.883 42.14 195.927 42.14C193.96 42.14 192.704 41.3753 192.185 39.8459C191.98 38.4258 191.775 36.9783 191.556 35.5308C191.215 34.0015 190.273 33.2368 188.716 33.2368H187.159V41.2114H189.958V41.8396H181.081V41.2114H183.881V25.03H181.081V24.4019H188.975C193.441 24.4019 195.668 25.7947 195.668 28.5667C195.668 30.929 193.837 32.3082 190.177 32.7315V32.8135C192.021 33.0183 193.277 33.4689 193.974 34.138C194.657 34.8071 195.108 36.0634 195.312 37.8795C195.367 38.6033 195.435 39.3133 195.504 40.0234C195.709 41.0339 196.105 41.5391 196.665 41.5391C197.225 41.5391 197.785 41.4026 198.304 41.1158L198.495 41.5801L198.536 41.5528Z" fill="#404041" />
            <path d="M211.784 33.1139C211.784 27.5153 210.186 24.716 207.004 24.716C203.822 24.716 202.183 27.5153 202.183 33.1139C202.183 38.7126 203.794 41.5119 207.004 41.5119C210.214 41.5119 211.784 38.7126 211.784 33.1139ZM215.527 33.1139C215.527 35.5719 214.721 37.6748 213.109 39.4226C211.47 41.2388 209.435 42.14 207.004 42.14C204.573 42.14 202.497 41.2524 200.871 39.4773C199.246 37.7021 198.44 35.5855 198.44 33.1139C198.44 30.6423 199.246 28.4848 200.871 26.7096C202.497 24.9345 204.532 24.0469 207.004 24.0469C209.476 24.0469 211.511 24.9345 213.109 26.7096C214.721 28.4848 215.527 30.615 215.527 33.1139Z" fill="#404041" />
            <path d="M234.826 25.0163H233.815C232.395 24.989 231.671 26.0541 231.671 28.2116C231.671 28.8125 231.739 29.8912 231.889 31.4752C232.026 33.0592 232.108 34.2609 232.108 35.0939C232.108 37.2787 231.712 38.9037 230.906 39.9961C229.868 41.4162 228.092 42.14 225.579 42.14C223.298 42.14 221.632 41.8122 220.594 41.1704C219.324 40.3375 218.682 38.849 218.682 36.6915V25.0163H215.609V24.3882H225.06V25.0163H221.946V36.4184C221.946 39.8186 223.407 41.5118 226.344 41.5118C227.846 41.5118 229.062 41.1158 229.963 40.3102C230.878 39.5182 231.329 38.3711 231.329 36.8964V26.6413C231.329 25.5625 230.66 25.0163 229.308 25.0163H227.942V24.3882H234.826V25.0163Z" fill="#404041" />
            <path d="M246.504 29.345C246.504 27.843 246.217 26.7505 245.643 26.0541C245.069 25.3714 244.045 25.0163 242.57 25.0163H240.972V33.1139C241.928 33.4826 242.707 33.6601 243.307 33.6601C245.438 33.6601 246.504 32.2263 246.504 29.345ZM250 29.345C250 30.929 249.317 32.1717 247.938 33.0866C246.749 33.8922 245.315 34.2882 243.663 34.2882C242.884 34.2882 241.983 34.1107 240.972 33.742V41.2114H244.195V41.8396H234.58V41.2114H237.694V25.03H234.58V24.4019H242.788C247.583 24.4019 249.986 26.0541 249.986 29.345H250Z" fill="#404041" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1344 19.3084C7.88079 19.8819 6.20083 21.9302 6.20083 24.3472V31.6391C6.20083 34.5067 8.53639 36.8417 11.4046 36.8417H34.1865V43.0412H11.391C5.12183 43.0412 0 37.9205 0 31.6527V24.3608C0 18.5164 4.45258 13.6688 10.1344 13.0407V19.3221V19.3084ZM55.9577 32.8271C55.425 37.9887 51.3959 42.1672 46.3014 42.9183V36.5686C47.9813 35.9951 49.2925 34.5749 49.6886 32.8134H55.9577V32.8271ZM22.2492 12.9587H44.6214C50.4944 12.9587 55.3704 17.465 55.9577 23.1728H49.6886C49.1559 20.8788 47.0799 19.1445 44.6214 19.1445H22.2492V12.9587Z" fill="#CE994B" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9207 33.8513V11.3884C12.9207 5.1207 18.0561 0 24.3253 0H31.6188C37.3825 0 42.1766 4.3287 42.9141 9.88637H36.604C35.9621 7.75616 33.968 6.18581 31.6188 6.18581H24.3253C21.457 6.18581 19.1215 8.52085 19.1215 11.3884V33.8513H12.9207ZM43.0097 24.7705V44.5979C43.0097 50.8656 37.8879 55.9864 31.6188 55.9864H24.3253C18.5888 55.9864 13.8084 51.6986 13.0436 46.1683H19.3673C20.0366 48.2575 22.017 49.7869 24.3253 49.7869H31.6188C34.487 49.7869 36.8225 47.4518 36.8225 44.5843V30.9564H26.7974V24.7705H43.0097Z" fill="#CE994B" />
          </g>
          <defs>
            <clipPath id="clip0_38_1672">
              <rect width="250" height="56" fill="white" />
            </clipPath>
          </defs>
        </svg></a>
  
    </div>
    <nav>
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li>
          <a href="#">About us <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
              <path d="M1.645 0L7 5.56275L12.355 0L14 1.71255L7 9L0 1.71255L1.645 0Z" fill="black" />
            </svg></a>
          <ul class="xenter">
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Company profile</a></li>
            <li>
              <a href="#">Corporate Governance</a>
              <ul>
                <li><a href="#">Directors</a></li>
                <li><a href="#">Management</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Sustainability <svg xmlns="http://www.w3.org/2000/svg" width="14" height="9" viewBox="0 0 14 9" fill="none">
              <path d="M1.645 0L7 5.56275L12.355 0L14 1.71255L7 9L0 1.71255L1.645 0Z" fill="black" />
            </svg></a>
          <ul>
            <li><a href="#">Sustainability at Care Group</a></li>
            <li><a href="#">Policies</a></li>
          </ul>
        </li>
  
        <li><a href="/">Group Companies</a></li>
        <li><a href="/">Careers</a></li>
        <li><a href="/">Contact Us</a></li>
  
      </ul>
    </nav>
    <!-- dropdownBurger -->
    <div class="dropDownBurger" id="burdermenu">
      <ul class="main-menu">
        <li><a href="/">Home</a></li>
  
        <li>
          <a href="#">Sustainability</a>
          <ul>
            <li><a href="#">Sustainability at Care Group</a></li>
            <li><a href="#">Policies</a></li>
          </ul>
        </li>
  
        <li><a href="/">Group Companies</a></li>
        <li><a href="/">Careers</a></li>
        <li>
          <a href="#">About us</a>
          <ul>
            <li><a href="#">Our Story</a></li>
            <li><a href="#">Company profile</a></li>
            <li>
              <a href="#">Corporate Governance</a>
              <ul>
                <li><a href="#">Directors</a></li>
                <li><a href="#">Management</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- dropdownBurgerEnd -->
    <button id="burgerbtn" class="burgerbtn" onclick="showburger()"><i class="fa fa-bars"></i></button>
    <button id="closebtn" class="closebtn" onclick="closeburger()"><i class="fa fa-close"></i></button>
  
  </div>